.InfoBar {
  display: flex;
  height: 100px;
  width: 100%;
  border: 1px solid #333;
  margin-bottom: 20px;
}

.InfoBar a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 100%;
  width: 34%;
  background: white;
  color: black;
}
