.ListBar {
  background: white;
  border: 1px solid #333;
  padding-left: 10px;
}

.ListBar-year {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  padding: 20px 0px;
}

.ListBar-link {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  padding: 10px 0px;
  display: flex;
}


.ListBar-link a {
  text-decoration: none;
  color: black;
}

.ListBar-link a:hover {
  color: lightsalmon;
}

.ListBar-date {
  color: #5FCCC4;
  margin-right: 10px;
  white-space: nowrap;
}
