.wrapper {
  background: white;
  border: 1px solid #333;
  margin: 20px 0;
}


.title {
  font-size: 20px;
  font-weight: 700;
  padding: 20px 10px;
}

.column {
  height: 100px;
  text-align: center;
  display: block;
  color: black;
}
.column::after {
  height: 100%;
  content: '';
  display: inline-block;
  vertical-align: middle;
}
.column:hover {
  background: lightcyan;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  vertical-align: middle;
}

.info {
  display: inline-block;
  vertical-align: middle;
  width: 60%;
}
