.Blog {
  min-height: 100%;
  position: relative;
}

.Blog-sidebar {
  position: fixed;
  background: #f7f7f7;
  left: 0%;
  width: 30%;
  min-height: 100%;
} 

.Blog-content {
  box-sizing: border-box;
  position: absolute;
  left: 30%;
  width: 70%;
  padding: 3%;
} 
