.Blog {
  min-height: 100%;
  position: relative;
}

.Blog-sidebar {
  position: absolute;
  background: #f7f7f7;
  left: 0%;
  width: 30%;
  min-height: 100%;
} 

.Blog-content {
  position: absolute;
  left: 30%;
  width: 70%;
  padding: 3%;
} 

@media (max-width: 1000px) {
  .Blog-sidebar {
    width: 100%;
  }

  .Blog-content {
    left: 0%;
    width: 100%;
  }
}
