.Blog {
  background: #f7f7f7;
  min-height: 100%;
  overflow: hidden;
}

.Blog-sidebar {
  width: 25%;
  float: left;
} 

.Blog-content {
  width: 60%;
  padding: 3%;
  background: white;
  float: left;
} 
