.Navigator {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navigator a {
  font-size: 40px;
  text-decoration: none;
  color: black;
}

.Navigator a:hover {
  color: rgb(222, 80, 33);
}


/* ----- animation part --------- */

.glitch {
  position: relative;
  margin: 0 auto;
  color: #fff;
  font-family: "Exo", sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
.glitch::before, .glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #333;
  color: #fff;
  clip: rect(0, 900px, 0, 0);
}
.glitch::before {
  left: 3px;
  text-shadow: 1px 0 green;
  animation: glitch-effect 3s infinite linear alternate-reverse;
}
.glitch::after {
  left: 3px;
  text-shadow: -1px 0 red;
  animation: glitch-effect 3s infinite linear alternate-reverse;
}


@keyframes glitch-effect {
  0% {
    clip: rect(40px, 9999px, 39px, 0);
  }
  5% {
    clip: rect(57px, 9999px, 68px, 0);
  }
  10% {
    clip: rect(69px, 9999px, 59px, 0);
  }
  15% {
    clip: rect(47px, 9999px, 21px, 0);
  }
  20% {
    clip: rect(54px, 9999px, 58px, 0);
  }
  25% {
    clip: rect(42px, 9999px, 5px, 0);
  }
  30% {
    clip: rect(24px, 9999px, 30px, 0);
  }
  35% {
    clip: rect(36px, 9999px, 96px, 0);
  }
  40% {
    clip: rect(80px, 9999px, 27px, 0);
  }
  45% {
    clip: rect(15px, 9999px, 82px, 0);
  }
  50% {
    clip: rect(68px, 9999px, 55px, 0);
  }
  55% {
    clip: rect(81px, 9999px, 40px, 0);
  }
  60% {
    clip: rect(3px, 9999px, 74px, 0);
  }
  65% {
    clip: rect(44px, 9999px, 20px, 0);
  }
  70% {
    clip: rect(84px, 9999px, 18px, 0);
  }
  75% {
    clip: rect(21px, 9999px, 74px, 0);
  }
  80% {
    clip: rect(85px, 9999px, 62px, 0);
  }
  85% {
    clip: rect(94px, 9999px, 7px, 0);
  }
  90% {
    clip: rect(6px, 9999px, 26px, 0);
  }
  95% {
    clip: rect(6px, 9999px, 28px, 0);
  }
  100% {
    clip: rect(35px, 9999px, 41px, 0);
  }
}
