.bg-video {
  /* https://blog.csdn.net/qq_36370731/article/details/78907284 */
  object-fit: fill;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -2;
  background-attachment: fixed;
}

.bg-img {
  background-image: url(https://static.wixstatic.com/media/0da768_46b55443eb984c0eacfbdcb1b67a2b7b.png);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
