* {
  margin: 0px;
  padding: 0px;
}

.next {
  height: 1000px;
}

#blog {
  text-align: center;
  font: normal normal normal 60px/1.2em georgia,palatino,'book antiqua','palatino linotype',serif;
  color: black;
}
