.blog-container {
  position: relative;
}

#blog {
  text-align: center;
  font: normal normal normal 60px/1.2em georgia,palatino,'book antiqua','palatino linotype',serif;
  color: black;
}

@keyframes hatShaking {
  0% {transform: translate3d(10px, 0, 0)}
  12.5% {transform: translate3d(5px, 0, 5px)}
  25% {transform: translate3d(0px, 0, 10px)}
  37.5% {transform: translate3d(-5px, 0, 5px)}
  50% {transform: translate3d(-10px, 0, 0px)}
  62.5% {transform: translate3d(-5px, 0, -5px)}
  75% {transform: translate3d(0px, 0, -10px)}
  87.5% {transform: translate3d(5px, 0, -5px)}
  100% {transform: translate3d(10px, 0, 0px)}
}

.blog-hole {
  position: absolute;
  border: 2px solid #5FCCC4;
  border-radius: 50%;
  left: 0px;
  top: 0px;
  transform: translate(100%, 100%);
  width: 15px;
  height: 15px;
}

.blog-title {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #5FCCC4;
  font-size: 15px;
  border-radius: 50px;
  padding: 2px 15px;
  color: white;
  z-index: 2;
}

.blog-content {
  width: 80%;
  margin: 100px auto;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0 0 41px 0 rgba(200,195,183,0.15);
  background: white;
  position: relative;
}

.blog-list {
  padding: 10%;
  padding-bottom: 5%;
}

.blog-article{
  padding: 5%;
  display: none;
  min-height: 500px;
}


.blog-article-year {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
  padding: 30px;
  position: relative;
  border-left: 1px solid #555;
}

.blog-article-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  padding: 30px;
  position: relative;
  border-left: 1px solid #555;
}

.blog-article-year::before {
  content: " ";
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
}

.blog-article-link::before {
  content: " ";
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
}

.blog-article-date {
  color: #5FCCC4;
  font-size: 15px;
  margin-right: 10px;
}

@media (max-width: 500px) {
  .blog-hole {
    left: 0px;
    transform: translate(50%, 50%);
  }

  .blog-content {
    width: 100%;
    margin-bottom: 0px;
  }

  .blog-article{
    padding: 30px 5%;
    display: none;
  }
}
