.me-container {
  display: none;
  position: relative;
}

#me {
  text-align: center;
  font: normal normal normal 60px/1.2em georgia,palatino,'book antiqua','palatino linotype',serif;
  color: black;
}
