.nav {
  margin: 100px auto;
  margin-bottom: 600px;
  display: flex;
  justify-content: space-evenly;
}

.nav a{
  font-size: 30px;
  color: black;
  transition: color 0.4s ease 0s;
  cursor: pointer;
  font: normal normal normal 40px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;
  text-decoration: none;
}

.nav a:hover {
  color: rgb(222, 80, 33);
}

.nav-hat {
  display: none;
  position: fixed;
  top: 5%;
  right: 10px;
  color: rgb(81, 55, 27);
  text-align: center;
  cursor: pointer;
  z-index: 2;
}

.nav-hat img{
  width: 50px;
  height: 50px;
  animation: 1s hatShaking infinite;
}

@media (max-width: 500px) {
  .nav {
    margin: 50px auto;
    margin-bottom: 500px;
  }

  .nav a {
    font-size: 20px;
  }

  .nav-hat {
    font-size: 10px;
    right: 0%;
    top: 10%;
  }
  .nav-hat img{
    width: 30px;
    height: 30px;
    animation: 1s hatShaking infinite;
  }

}
